<h1>Welcome to Pay it forward </h1>
<%= link_to 'Sign_up',new_users_path %>
 <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  <%= link_to "Sign in with Google", auth_google_callback_path %>

